* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}


h1 {
    font-size: 26px;
   
}

.nav-heading {
    position: relative;
    left: 40px;
    color: blue;
    margin-right: 50px;
}

.nav-content {
    display: flex;
    position: relative;
    right: 40px;
    margin-top: 30px;
    
    justify-content: right;
    padding-top: 20px;
}

.nav-link {
    color: blue;

    font-weight: 700;

    margin-left: 15px;
    padding: 10px 20px;
}


ul {
    display: flex;
    gap: 30px;
    margin-right: 50px;

}

ul>li {
    list-style: none;
    
}


.body-parent{
    display: flex;
}

.type{
    width: 230px;
    display: grid;
    grid-template-columns: auto;
    row-gap: 15px;
    padding: 30px 20px;
}

.p-1-5{
    font-size: x-small;
    color: rgb(163, 163, 163);
}
.gray{
    color: rgb(163, 163, 163);
}
.price{
    width: 250px;
    padding: 30px 0px;
}
.p-1-6{
    font-weight: 600;
    font-size: medium;
}


.parrent-container{
    width: 920px;
   padding: 0px 20px;
   background-color: rgb(243, 243, 243);
   overflow: hidden;
}
.pick-and-drop{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
    width: 920px;
    margin-top: 30px;
    margin-left: -20px;
}
.pick{
    width: 430px;
    height: 130px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    background-color: white;
    padding: 20px 20px;
    font-weight: 500;
}
.radio-1{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    width: 75px;
}
.up-down{
    width: 40px;
    height: 50px;
    padding: 8px 5px;
    border-radius: 10px;
    border-style: solid;
    background-color:rgb(4, 83, 255) ;
    border-color: rgb(4, 83, 255);
    position: absolute;
    z-index: 1px;
}
.drop{
    
    margin-left: -10px;
    width: 430px;
    height: 130px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    background-color: white;
    padding: 10px 30px;
    font-weight: 500;
}
.radio-2{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    width: 90px;
}
.customer-detail{
    margin-top: 10px;
    line-height: 35px;
    display: flex;
    justify-content: space-between;

}
.selection{
    border-style: none;
    outline: none;
    margin-left: -5px;
    font-size: small;
    color: rgb(26, 25, 25);
    
}

.p-2{
    font-size: small;
 
}
.p-1{
    color: rgb(158, 156, 156);
    font-size:medium;
}
.anchor-1{
    text-decoration: none;
    font-size: small;
}
.cards-page{
    display: grid;
    grid-template-columns: 280px 280px 230px ;
    column-gap: 20px;   
    row-gap: 30px; 
    margin-top: 30px;
}
.card{
    padding: 0xp 5px;
    width: 280px;
    height: 380px;
    border-radius: 10px;
    border-style: solid;
    border-color:aliceblue;
}

.h-1-1{
    padding: 20px;
    padding-bottom: 0px;
}
.p-1-1{
    padding: 0px 20px;
    color: rgb(158, 156, 156);
    font-size: small;
}
.card-img-top{
    width: 270px;
    padding: 40px 40px;
}
.card-icon{
    width: 220px;
    display: flex;
    justify-content: space-between;
}
.p-1-2{
    margin-left: 7px;
    font-size: x-small;
    
}
.rent-now{
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    padding-right: 30px;
}

.day{
    color: rgb(160, 159, 159);
    font-size: small;
}
.btn{
    font-size: small;
    background-color: rgb(20, 3, 179);
    border-style: none;
    align-items: center;
    width: 100px;
    height: 40px;
    padding: 10px 0px;
}
.delt{
    margin-top: -15px;
    font-weight: 400;
    font-size: small;
    color: rgb(197, 195, 195);
}
.cards-page-1{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    column-gap: 10px; 
    row-gap: 20px;   
}
.show-more{
    margin:100px 350px;
    width: 150px;
    height: 40px;
    background-color: rgb(19, 19, 182);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-size: small;
}

.container {
   
    width: 100%;
    padding: 25px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 250px);
    gap: 120px;
}

.card {
    background-color: #ffff;
    width: 350px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: -150px;
    margin-left: -50px;
}

.card-name-box {
    display: flex;
    justify-content:space-between;
}

.mobile-set {
    display: flex;
    flex-direction: column;
}

.card-img-box {
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.car-img {
    width: 200px;
    margin-top: 30px;
}

.card-icons {
    display: flex;
    justify-content: space-between;
    color: #90A3bf;
}

.card-price-btn {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
       }

.price-box {
      justify-content: center;
    align-items: center;
    color: #90A3bf;
 
}

.price {
    font-size: 22px;
    font-weight: 700;
    color: black;
   
}
.button2{
    color:white;
    background-color: #3563e9;
    border:none;
    width: 90px;
    height:40px;
    margin-left: -100px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 5px;
    
    
}



@media only screen and (max-width: 1140px) {
    .container {
        grid-template-columns: repeat(3, 250px);
    }
}

@media only screen and (max-width: 900px) {
    .container {
        gap: 15px;
    }
}

@media only screen and (max-width: 790px) {
    .container {
        grid-template-columns: repeat(2, 250px);
    }
}

@media only screen and (max-width: 530px) {
    .container {
        grid-template-columns: repeat(1, 350px);
        padding: 10px;
    }

    .card {
        width: 350px;
    }

    .card-icons{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .mobile-set {
        flex-direction: row;
        justify-content: space-between;
    }
}

.cont {
    display: flex;
           gap: 10px;
    padding: 20px 0;
}

.child {
    width: 100px;
    height: 50px;
    text-align: center;
    border-right: 1px solid rgb(56, 52, 52);
}

.child:nth-last-child(1) {
    border: none;
}




.footer {

height: 350px;
   width: 100%;
position: relative;
bottom: 0;
left: 0;
display: flex;
flex-direction: column;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}

.footer-child1 {
display: flex;
justify-content: space-between;
padding-top: 50px;
padding-left: 50px;


}

.footer-gchild1 {
width: 25%;
margin-top: 150px;
}

.footer-gchild2 {
width: 50%;
display: grid;
grid-template-columns: auto auto auto;



}

.footer-subheading {
margin-bottom: 20px;
font-family: sans-serif;
margin-top: 150px;
}

.footer-content {
margin-bottom: 15px;
color: rgb(46, 46, 46);
font-size: 18px;
font-family: sans-serif;


}

.footer-heading {
font-size: 40px;
color: blue;
font-family: sans-serif;
font-weight: 700;
text-transform: uppercase;
margin-bottom: 30px;


}

.footer-subheading {
font-size: 25px;

}

hr {
height: 1px;
color: grey;
margin-left: 25px;
margin-right: 25px;
margin-top: 50px;
}

.footer-child2 {
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 25px;
font-family: sans-serif;


}

.pr-tc {
display: flex;
gap: 25px;

}


@media only screen and (max-width: 850px) {
.footer-gchild2 {
    grid-template-columns: auto auto;
}

.footer {
    height: 450px;
}

.footer-subheading {
    margin-bottom: 5px;
    font-size: 17px;
}

.footer-content {
    font-size: 16px;
    margin-bottom: 5px;
}




}

@media only screen and (max-width: 450px) {

.footer-child1 {
    flex-direction: column;

    gap: 25px;
}

.footer-gchild2 {
    grid-template-columns: auto auto auto;
    gap: 25px;
    width: 100%;
    padding-right: 12px;
}

.footer-para {
    width: 50vh;
}

.footer {
    height: 430px;
}

.footer-child2 {
    flex-direction: column-reverse;
    gap: 10px;


}

.footer-heading {
    font-size: 25px;
    margin-bottom: 10px;
    
}

.footer-list {
    gap: 30px;
}


}

@media only screen and (max-width: 360px) {
.footer {
    height: 420px;
}

.footer-content {
    font-size: 12px;
    margin-bottom: 2px;
}

.footer-para {
    width: 30vh;
}
}

@media only screen and (max-width: 320px) {
.footer {
    height: 540px;
}

.footer-content {
    font-size: 12px;
    margin-bottom: 2px;
}

.footer-gchild2 {
    grid-template-columns: auto auto;
    gap: 25px;
    width: 100%;
    padding-right: 12px;
}
}  */






